# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env

# Logs
*.log
logs/

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Prisma
*/prisma/migrations/

*.pth
*.pt
*.ckpt
*.onnx